@model IEnumerable<ASP_WebAppTour_6AKIF_JaenV.Models.Tour>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Tourname", "Index", new { sortOrder = ViewBag.NameSortParm })  @*DisplayNameFor(model => model.To_Bezeichnung)*@
        </th>
       

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.To_Bezeichnung)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.To_Tour_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.To_Tour_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.To_Tour_Id })
        </td>
    </tr>
}

</table>
